* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  width: 800px;
  margin: 50px auto;
}
header {
  text-align: center;
}
header > h3 {
  font-size: 30px;
  padding: 20px;
}
header p {
  display: inline;
  width: 33%;
  margin-left: 10px;
}
.social-icons {
  background-color: rgb(194, 194, 187);
  padding: 5px;
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
}
.experience,
.skills,
h3 {
  margin: 10px auto;
  line-height: 30px;
}
